    <link rel="stylesheet" href="../css/CustomerProfile.css">
    <p style="color: {{message.color}};" id="message" style=""> message: {{message.value}}</p>
    <div class="row">
        <div class="col-md-1 my-auto"></div>
        <div class="col-md-3 my-auto">
            <p>
                <img class="customer-avatar rounded-circle" src="/img/user/{{customer.CustomerID}}/avatar/{{customer.CustomerImg}}" 
                alt="Pineapple"> 
                
            </p>
            <div>
                <button class="button-follow mx-auto">Follow <i class="fa-solid fa-plus"></i></button>
            </div>
            <div>
                <button class="button-follow mx-auto">UnFollow <i class="fa-solid fa-minus"></i></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <strong>Author:</strong>  {{customer.CustomerName}} <br>
            <strong>Mail:</strong>  {{customer.Mail}}<br>
            <strong>Date Of Birth:</strong>  {{customer.DateOfBirth}}<br>
            <strong>Introduce:</strong> {{customer.Intro}}
        </div>
  </div>