 <link rel="stylesheet" href="/css/course_list.css">
<div class="container row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly mx-auto" >
     {{#each FolderCourses}}
        <div class="col">
          <div class="card h-100">
            <img src="/img/user/{{this.CustomerID}}/FolderCourse/{{this.FolderID}}/{{this.FolderImg}}" class="card-img-top h-70" alt="...">
            <div class="h-30 card-body">
              <h5 class="card-title">{{this.FolderName}}</h5>
              <p class="card-text">{{this.Description}}</p>
            </div>
          </div>
        </div>
       {{/each}}
      </div>