 <link rel="stylesheet" href="/css/folder_course_list.css">
 <script src="/js/folder_course_list.js"></script>
<div class="container row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-evenly mx-auto" >
    <div class="col">
      <form class="h-100">
          <div class="card h-100">
            <label for="fileInput"> 
              <img src="/img/common/add_image.png" class="card-img-top h-70" 
                    alt="alt">
            </label>
            <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="changeImageOnInput(event)"> 
            <div class="h-30 card-body mx-auto ">
              <div class="d-flex flex-row">
                <h5 class="card-title">
                  <input type="text" class="" placeholder="Course Name..." required>
                </h5>
                <select class="card-privacry" name="privacry" required>
                      <option value="public">Public</option>   
                      <option value="private">Private</option> 
                </select>
              </div>
              
              <p class="card-text h-50">
                <textarea class="w-100 h-100" placeholder="Enter your description" required></textarea>
              </p>
              <div class="w-100 h-10 d-flex justify-content-center mt-2">
                  <button class="" >Confirm</button>
              </div>
              
            </div>
             
          </div>
         
          </form>
        </div>
     {{#each FolderCourses}}
        <div class="col">
          <div class="card h-100">
            <a href="/foldercourse/{{CustomerID}}/{{this.FolderName}}">
              <img src="/img/user/{{this.CustomerID}}/FolderCourse/{{this.FolderID}}/{{this.FolderImg}}" class="card-img-top h-70" 
                    alt="{{this.FolderName}}">
            </a>
            <div class="h-30 card-body">
              <div class="d-flex flex-row">
                <h5 class="card-title">{{this.FolderName}}</h5>
                <p class="card-privacry">{{this.privacry}}</p>
              </div>
              
              <p class="card-text">
                <span class="truncate-text ">{{this.Description}}</span>
                <a href="#" class="read-more ">Xem thêm</a>
              </p>
            </div>
          </div>
        </div>
       {{/each}}
      </div>