<p id="current" >Current: 0</p>
  <p id="total">Total: 0</p>
  <input type="number" id="number">
  <button onclick="reachTo()">Reach to</button>
  <script src="/js/quiz_list.js"></script>
  <link rel="stylesheet" href="/css/quiz_list.css">
  <div> 
     <p id="isOwn">{{isOwn}}</p>
    <p id="CourseID">{{CourseID}}</p>
    <p id="CourseName">{{CourseName}}</p>
    <p id="CustomerID">{{CustomerID}}</p>
    <p id="QuizzesID">{{QuizzesID}}</p>
    <p id="QuizzesID">{{isOwn}}</p>
  </div>
  <div class="row mx-auto container m-0 w-100">
    <div id="carouselExampleIndicators" class="carousel slide mx-auto col-md-5" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-indicators" style="display: none;">
        </div>
        <div class="carousel-inner w-100 h-100">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
  </div>
  {{#if isOwn}}
    <div class="w-50 border-solid"  id="detail-ready-to-add" style="margin-left: auto; margin-right: auto; padding: 10px;">
      <div class="contain-detail ">                   
        <span name="index" style="display:none">-1</span>
        <div style="display: inline;" class="w-50">
          <div class="d-flex">
              <span class="text-start textarea question w-90 border-none" role="textbox" name="question" contenteditable="false"></span>
          </div>
          <i class=" fa-solid fa-play rotate-ele-0 " onclick="toggleDetails(event)" title="Click to list answer!">
          </i>
          <i class="fa-style fa-solid fa-pen " style="display: inline;" onclick="editEvent(event)" title="Click to edit question!">
          </i>
          <i class="fa-style fa-solid fa-square-check " style="display: inline;" onclick="insertQuestionEvent(event)" title="Click to save input!">
          </i>
          <i class="fa-style fa-solid fa-plus" style="display: inline;" onclick="addLiAnswerInUl(event)" title="Click to add new answer!">
          </i>
        </div>
        <div class="details display-none" style="background-color: none; border: none;">
          <ul>
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
   
  
  <div class="w-50"  id="detail" style="margin-left: auto; margin-right: auto;">

  </div>
  <button onclick="loadmore()">Load more</button>